.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

#status {
    font-size: 18px;
}

body {
    background-size: cover;
    background-position: center;
}

a {
    font-size: 20px !important;
    width: 400px;
    border-radius: 30px !important;
    background-color: green;
    color: black;
}

a:hover {
    color: red;
}

canvas {
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
    margin-top: 60px;
}

.backbtn{
    float:right;
    background-color: blue;
    color:red;
    font-size: 18px;
    width: 100px;
}